:root {
  --main-bg: #fff;
	--brand-color-dark: #001a83;
	--brand-color-default: #002de3;
	--brand-color-dark-mode: #375fff;
	--brand-color-light: #879fff;
	--brand-color-background: #d2d5f9;
	--neutral-active: #0f1828;
	--neutral-dark: #152033;
	--neutral-body: #1b2b48;
	--neutral-weak: #a4a4a4;
	--neutral-disabled: #adb5bd;
	--neutral-line: #ededed;
	--neutral-off-white: #f7f7fc;
	--neutral-white: #fff;
	--accent-danger: #e94242;
	--accent-warning: #fdcf41;
	--accent-success: #2cc069;
	--accent-safe: #7bcbcf;
}

:root {
  --font-family: var(--font-signika), sans-serif;
  --second-family: var(--font-inter), sans-serif;
  --third-family: var(--font-nunito), sans-serif;
}

html, body {
  touch-action: manipulation;
}

*{
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: linear;
}

/*Убирает цвет выделения при кликах*/
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  forced-color-adjust: none;
}

html, body {
  background-color: var(--neutral-white);
  color: var(--neutral-active);
}

html.dark body {
  background-color: var(--neutral-active);
  color: var(--neutral-white);
}

.main-layout{
    width: 100%;
    height: 100%;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
}


.main-layout::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.main-layout::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.main-layout:hover::-webkit-scrollbar-thumb{
  background-color: #ddd;
}


.main-layout:hover::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

.main-layout:hover::-webkit-scrollbar-track{
  background: transparent;
}

.main-layout::-webkit-scrollbar-track{
  display: none; 
}

.wrapper{
    /*border-radius: 24px;*/
    max-width: 400px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: min-content;
}

.no-select{
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Edge */
    user-select: none;         /* Стандарт */
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #6ebeff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #6ebeff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}

.loader::before {
  background-color: #337AB7;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
}
}
    
@media (pointer: coarse) {
    .wrapper{
        border-radius: 0;
        max-width: 500px;
        max-height: 100%;
    }
    
    
    .main-layout::-webkit-scrollbar{
        display: none;
    }
    
    .main-layout::-webkit-scrollbar{
        display: none;
    }
    
    .main-layout:hover::-webkit-scrollbar-thumb{
        display: none;
    }
    
    
    .main-layout:hover::-webkit-scrollbar-thumb{
        display: none;
    }
    
    .main-layout:hover::-webkit-scrollbar-track{
        display: none;
    }
    
    .main-layout::-webkit-scrollbar-track{
      display: none; 
    }
}

