.main-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 24px;
    overflow-y: auto;
    background-color: #fefefe;
}

.navigation{
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
    padding-top: 10px;
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
}

.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.vitamin-img-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 100/50;
    max-width: 600px;
    position: relative;
}

.vitamin-img-container .vitamin-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative; 
}

.content-text{
    border-radius: 15px 15px 0 0;
    position: relative;
    top: -30px;
    background: #fff;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.content-text .vitamin-name{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000;
}

.content-text .vitamin-category{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #777;
}

.content-text .vitamin-description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: #fff2f0;
}

.content-text .vitamin-section{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: #eff7ee;
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #000;
}

.content-text .vitamin-section h3{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #000;
}

.content-text .vitamin-section .subelem{
    border-radius: 10px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    color: #fff;
}

.content-text .food-sources-container{
    width: calc(100% + 30px);
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 5px;
    margin-left: -15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.content-text .food-sources-container .food-source:last-child{
    margin-right: 15px;
}

.content-text .top-food-sources{
    padding: 0;
}

.content-text .top-food-sources .subelem{
    background: #eff7ee;
    height: 75px;
    min-width: 75px;
    max-width: 100px;
    width: max-content;
    border-radius: 20px;
    overflow: hidden;
}

.content-text .top-food-sources .food-source{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.content-text .top-food-sources .product-name{
    white-space: nowrap;     /* Запрещаем перенос */
    overflow: hidden;        /* Прячем то, что вылезло за пределы блока */
    text-overflow: ellipsis;
    width: 100%;
}


.content-text .vitamin-section ul{
    padding: 0;
    padding-left: 15px;
    margin: 8px 0;
}

.content-text .vitamin-section li{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000;
    margin: 4px 0;
}

.content-text .vitamin-section li::marker{
  color: orange;
}


.content .tabs-and-symptoms-section{
    padding: 0;
}

.tabs-and-symptoms{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
    gap: 4px;
    padding: 4px;
    background: #f5e1bf;
    border-radius: 10px;
}

.tabs-and-symptoms .tab{
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    transition: all 0.2s ease;
}

.tabs-and-symptoms .tab.active{
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 5px;
}

.tabs-and-symptoms-content{
    padding: 5px 15px;
}

.tabs-and-symptoms-content .ts-tab{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
}


.backlink{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 10;
}

*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb{
  background-color: #ddd;
}


*::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

*::-webkit-scrollbar-track{
  background: transparent;
}

*::-webkit-scrollbar-track{
  display: none; 
}

@media (max-width: 767px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

