.main-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 48px 24px;
    padding-bottom: 24px;
    gap: 24px;
    overflow-y: auto;
    background-color: #fefefe;
}

.navigation{
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.product-name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 63%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #91c788;
    width: 100%;
    max-width: 320px;
    position: relative;
    padding-left: 35px;
}

.product-name .back{
    position: absolute;
    left: 0;
    top: 0;
}

.product-name .leaves{
    left: 10px;
    position: relative;
}

.productConsistency{
    background: #fff2f0;
    border-radius: 20px;
    width: 100%;
    max-width: 320px;
    padding: 40px;
    gap: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.productConsistency .productCalories{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #91c788;
    width: 100%;
}


.productConsistency .productMass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.productMassElem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #444;
    gap: 10px;
}

.productMassElem .dot{
    border-radius: 20px;
    width: 12px;
    height: 12px;
}

.productConsistency .vitamins{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.02em;
    color: #777;
}

.productConsistency .comment {
    position: relative;
    left: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.productConsistency .comment p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #777;
    margin: 0;
}

.productConsistency .comment .dot{
    content: "";
    display: inline-block;
    background: #777;
    border-radius: 20px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb{
  background-color: #ddd;
}


*::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

*::-webkit-scrollbar-track{
  background: transparent;
}

*::-webkit-scrollbar-track{
  display: none; 
}

@media (max-width: 767px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

